*{
    margin: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}
#header-logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#header-logo img{
    height: 30px;
    width: auto;
    margin-right: 10px;
}
#header-logo-1{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
#header-logo-1 img{
    height: 30px;
    width: auto;
    margin-right: 10px;
}
#main-first{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
}
#main-first img{
    margin-left: 10px;
}
#main-first-dashboard{
    display: flex;
    align-items: center;
}
#main-first-dashboard-second{
    display: flex;
    align-items: center;
}